<!-- <p>home works!</p>
<button class="btn">Primary Button</button>
<button class="btn btn--secondary">Secondary Button</button> -->
<section class="topHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="social-network-links d-flex gap-3">
                    <li>
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-pinterest"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="m-0"> <span class="iconify fs-5" data-icon="iconamoon:discount-fill"></span>
                    20% off on beer, wine & liquor delivery.</p>
            </div>
            <div class="col-md-4">
                <div class="language-call d-flex gap-3 justify-content-end">
                    <div>
                        <!-- <mat-form-field class="no-background">
                            <mat-label>Select an option</mat-label>
                            <mat-select>
                                <mat-option value="*">s</mat-option>
                                <mat-option value="#">s</mat-option>
                                <mat-option value="@">s</mat-option>
                                <mat-option value="$">s</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                    <div>
                        <p class="m-0">
                            <span class="fluent--person-support-20-filled"></span>
                            For Any Query Call : 7878078780.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="logoSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo mt-2">
                    <img src="assets/logo.png" alt="Logo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-grid d-flex align-items-start">
                    <div>
                        <input  type="text" name="">
                    </div>
                    <button class="submit-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icons-sign d-flex gap-3 justify-content-end mt-4">
                    <ul class="d-flex gap-2 me-2">
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                        <li><i class="fa-regular fa-heart"></i></li>
                    </ul>
                    <ul class="d-flex gap-2">
                        <li>Sign In</li>
                        <li>Create Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mainMenu">
    <div class="container">
        <div class="row">
            <!-- Column for test text -->
            <div class="col-12 col-sm-4">
                test
            </div>
            <!-- Column for navigation list -->
            <div class="col-12 col-sm-8">
                <div class="nav d-flex justify-content-end mt-3">
                    <ul class="d-flex flex-column flex-sm-row gap-4">
                        <li>Home</li>
                        <li>Shop</li>
                        <li>Blog</li>
                        <li>Pages</li>
                        <li>Features</li>
                        <li>Shortcodes</li>
                        <li>Elements</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="promotionSection pt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card cardOne p-4 d-flex justify-content-center align-items-center w-100 ">
                    <div class="content">
                        <h2>
                            20% Off<br />
                            On Caliveda
                        </h2>
                        <p class="small-font">Enjoy a Cabernet & Red Blend from our<br />
                            2024 Wine of the Year winner.</p>
                        <button class="btn btn-primary">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card cardTwo mb-2 p-4 d-flex justify-content-center align-items-center">
                    <div class="d-block d-lg-flex justify-content-between w-100 ">
                        <div class="content">
                            <span class="d-block mb-1 fs-6">Today offer</span>
                            <h2> 50% <span class="fs-6">OFF</span></h2>
                            <p class="small-font">Enjoy a Cabernet & Red
                                Blend from our.</p>
                            <button class="btn btn-secondary">Order Now</button>
                        </div>
                        <div class="promotion-image">
                            <img src="assets/img1.png" alt="promotion-image" class="">
                        </div>
                    </div>
                </div>
                <div class="card cardThree p-4 d-flex justify-content-center align-items-center">
                    <div class="d-block d-lg-flex justify-content-between w-100  ">
                        <div class="content">
                            <span class="d-block mb-1 fs-6">Today offer</span>
                            <h2> 5% <span class="fs-6">OFF</span></h2>
                            <p class="small-font">Enjoy a Cabernet & Red <br />
                                Blend from our.</p>
                            <button class="btn btn-secondary">Order Now</button>
                        </div>
                        <div class="promotion-image">
                            <img src="assets/img4.png" alt="promotion-image" class="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card cardFour mb-2 p-4 d-flex justify-content-center align-items-center">
                    <div class="d-block d-lg-flex justify-content-between w-100  ">
                        <div class="content">
                            <span class="d-block mb-1 fs-6">OFFER</span>
                            <h2> 15% </h2>
                            <p class="small-font">New Stock available</p>
                            <button class="btn btn-secondary">Order Now</button>
                        </div>
                        <div class="promotion-image">
                            <img src="assets/img2.png" alt="promotion-image" class="">
                        </div>
                    </div>
                </div>
                <div class="card cardFive p-4 d-flex justify-content-center align-items-center">
                    <div class="d-block d-lg-flex justify-content-between  w-100  ">
                        <div class="content">
                            <span class="d-block mb-1 fs-6">Today offer</span>
                            <h2> 5% <span class="fs-6">OFF</span></h2>
                            <p class="small-font">Enjoy a Cabernet & Red <br />
                                Blend from our.</p>
                            <button class="btn btn-secondary">Order Now</button>
                        </div>
                        <div class="promotion-image">
                            <img src="assets/img3.png" alt="promotion-image" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="categorySection">
    <div class="container">
        <div class="col-md-12 text-center text-md-start mb-4 mb-md-0">
            <div class="content">
                <h2 class="text-center mb-5">Shop By Category</h2>
                <!-- <p class="my-4">Experience the taste of the fruit, elevate your palate with whiskey</p> -->
                <!-- <button class="btn btn-primary btn-lg ">Explore All</button> -->
            </div>
        </div>
        <owl-carousel-o [options]="categoryOptions">
            <ng-container *ngFor="let slide of categories; let i = index">
              <ng-template carouselSlide>
                <div class="card text-center" [ngClass]="cardClasses[i % cardClasses.length]">
                  <img [src]="slide.imageUrl" class="card-img-top" [title]="slide.categories_name">
                  <div class="card-body p-0 pt-2">
                    <p class="card-text" [title]="slide.categories_name">{{ slide.categories_name }}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
    </div>
</section>
<section class="dealsSection">
    <div class="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <h2>Get The Best Deals From <br />
                        Our Listings In this Summer <br />
                        <span>20% Offer</span>
                    </h2>
                    <button class="btn btn-lg mt-4"> Explore Now </button>
                </div>
                <div class="col-12 col-md-6">
                    <img src="assets/img5.png" alt="img5">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="newArrivalsSection">
    <div class="container">
        <h2 class="mb-4">New Arrivals </h2>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide>
                    <div class="cards">
                        <div class="card-img">
                            <span>{{slide.offPrice}} </span>
                            <!-- <img src="assets/tequila.png" class="card-img-top" alt="..."> -->
                            <img [src]="slide.src" class="card-img-top" [title]="slide.title">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3" [title]="slide.title">{{ slide.title }}</h5>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="rating-price">
                                    <div class="rating m-0 d-flex align-items-center gap-2">
                                        <p class="m-0">{{ slide.rating }}</p>
                                        <p class="m-0">
                                            <img src="assets/rating.png" class="rating" alt="rating">
                                        </p>
                                    </div>
                                    <p class="price m-0">
                                        <span class="old-price">{{slide.oldPrice}}</span>
                                        <span class="new-price">{{slide.newPrice}}</span>
                                    </p>
                                </div>
                                <div class="add-to-cart">
                                    <button class="btn btn-primary btn-sm"> <i class="fa-solid fa-cart-shopping"></i>
                                        Add </button>
                                </div>
                            </div>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<section class="party-gift-promotion">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="party-grid">
                    <div class="align-items-center">
                        <span class="mb-1 d-inline-block">Mix Any Six & Save</span>
                        <h2 class="mb-2"><u>Garden Party</u> </h2>
                        <span>Mix Any Six & Save</span>
                        <p class="m-0">Enjoy a Cabernet & Red
                            Blend from our.</p>
                        <button class="btn btn-sm mt-4"> Explore Now </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="gift-grid">
                    <div class="align-items-center">
                        <span class="mb-1 d-inline-block">Mix Any Six & Save</span>
                        <h2 class="mb-2"><u>GIFT PACKS </u> </h2>
                        <span>Mix Any Six & Save</span>
                        <p class="m-0">Enjoy a Cabernet & Red
                            Blend from our.</p>
                        <button class="btn btn-sm mt-4"> Explore Now </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shopBrandsSection">
    <div class="container">
        <h2 class="mb-4">Shop By Brands </h2>
        <div class="row">
            <div class="col-12">
                <div class="row g-3">
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo1.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo2.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo3.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo4.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo5.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo6.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo2.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo1.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo4.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo6.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo1.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="card text-center">
                            <img src="assets/logo3.png" alt="logo">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<section class="newArrivalsSection">
    <div class="container">
        <h2 class="mb-4">Recommended for You </h2>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide>
                    <div class="cards">
                        <div class="card-img">
                            <span>{{slide.offPrice}} </span>
                            <!-- <img src="assets/tequila.png" class="card-img-top" alt="..."> -->
                            <img [src]="slide.src" class="card-img-top" [title]="slide.title">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3" [title]="slide.title">{{ slide.title }}</h5>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="rating-price">
                                    <div class="rating m-0 d-flex align-items-center gap-2">
                                        <p class="m-0">{{ slide.rating }}</p>
                                        <p class="m-0">
                                            <img src="assets/rating.png" class="rating" alt="rating">
                                        </p>
                                    </div>
                                    <p class="price m-0">
                                        <span class="old-price">{{slide.oldPrice}}</span>
                                        <span class="new-price">{{slide.newPrice}}</span>
                                    </p>
                                </div>
                                <div class="add-to-cart">
                                    <button class="btn btn-primary btn-sm"> <i class="fa-solid fa-cart-shopping"></i>
                                        Add </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>




<section class="customersSaysSection">
    <h2 class="text-center">What our Customers says </h2>
    <p class="sub-text text-center">About Us</p>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <owl-carousel-o [options]="testimonialsOptions">
                    <ng-container *ngFor="let testm of testimonials">
                        <ng-template carouselSlide>
                            <div class="cards">
                                <div class="card-img">
                                    <img [src]="testm.src" class="card-img-top" [title]="testm.name">
                                </div>

                                <div class="card-body">
                                    <h5 class="mb-2">{{ testm.title }}</h5>
                                    <p>
                                        {{ testm.description }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p  class="m-0 name">{{ testm.name }}</p>
                                            <p class="m-0 designation">{{ testm.designation }}</p>
                                        </div>
                                        <div>
                                            <img src="assets/rating.png" class="rating" alt="rating">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="footerSection">
    <div class="container">
      <div class="row">
        <!-- Left column (Logo and Social Links) -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="logo mt-2">
                <img src="assets/logo.png" alt="Logo">
            </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non rhoncus, ultrices odio massa, at felis.</p>
          <div class="social-icons">
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-pinterest"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
        
        <!-- Center column (Links) -->
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="row">
            <div class="col-md-4">
              <h6>Trade Customers</h6>
              <ul class="list-unstyled">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">Refund & Returns Policy</a></li>
                <li><a href="#">Promotions T&C</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6>Terms & Conditions</h6>
              <ul class="list-unstyled">
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Security & Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Responsible Drinking</a></li>
                <li><a href="#">Slavery and Human Trafficking</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6>More from Us:</h6>
              <ul class="list-unstyled">
                <li><a href="#">eGift Cards</a></li>
                <li><a href="#">Personalised Gift Tags</a></li>
                <li><a href="#">Personalised Engraving</a></li>
                <li><a href="#">Sales & Offers</a></li>
                <li><a href="#">Bottle Size Guide</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Right column (Contact Info) -->
        <div class="col-lg-3 col-md-12 mb-4">
          <h6>About Liquor Store</h6>
          <ul class="list-unstyled">
            <li>55 Gallaxy Enque</li>
            <li>2487 Street, 34567 NY</li>
            <li>+8891763204103</li>
            <li><a href="">mhjibon01763 &#64;gmail.com</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Bottom row (Copyright and Payment Methods) -->
      <div class="row mt-4">
        <div class="col-md-6 col-sm-12 mb-3">
          <p>&copy; 2021 All Rights Reserved.</p>
        </div>
        <div class="col-md-6 col-sm-12 text-md-end">
          <!-- <div class="payment-icons">
            <img src="https://img.icons8.com/color/48/000000/amex.png" alt="Amex">
            <img src="https://img.icons8.com/color/48/000000/apple-pay.png" alt="Apple Pay">
            <img src="https://img.icons8.com/color/48/000000/google-pay.png" alt="Google Pay">
            <img src="https://img.icons8.com/color/48/000000/paypal.png" alt="Paypal">
            <img src="https://img.icons8.com/color/48/000000/visa.png" alt="Visa">
            <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="Mastercard">
          </div> -->
        </div>
      </div>
    </div>
  </section>